streamlit
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters

google-generativeai
langchain-google-genai
langchain-ollama

sentence-transformers
huggingface-hub
faiss-cpu

unstructured[pdf]

Pillow
pypdf
